/* @import "style_base.css"; */

body {
  font-family:      "Palatino Linotype", serif;
  /* font-size-adjust: 0.47 */
  font-size:        medium;
  margin-right:     6%;
  margin-left:      6%; 
}

:lang(ko) {
  font-family:      serif;
}

:lang(ja) {
  font-family:      serif;
}

abbr {
  font-variant:     small-caps;
}

.note:before, .important:before {
  font-style:       normal;
  font-weight:      bold;
  /* I'm just interested in how browsers behaves with that. */
  font-variant:     small-caps;
}

.note, .important {
  font-variant:     normal;
}

h1, h2 {
  /* I'm just interested in how browsers behaves with that.
   * The result is often ugly.
  */
  font-variant:     small-caps;
  letter-spacing:   0.2em; 
}

kbd, code, pre, adress,
*.file, *.mail, *.date {
  font-family:      "Courier New", monospace;
}

/*
  [font-family~="monospace"] {
*/
kbd, code, pre, adress,
*.file, *.mail {
  /* adjust 'monospace' font size slightly since they
     often has taller x-height compared to serif font
     for body text. Capheight letters will be shorter
     with this... */    
  font-size:        95%;
  /* font-size-adjust: .47; */ 
}

.logo {
  display:          none;
  float:            none;
}

#navmenu {
  float:            none;
  display:          none;
  overflow:         hidden; 
}

@media print {
  #navmenu, *.logo {
    display:        none;
    float:          none;
    overflow:       hidden;  
  }
}
