
body {
  font-weight:      normal; 
  font-size:        medium;
  font-style:       normal; 
  color:            #000000;
  background-color: #ffffff;
}

q:lang(fr),
*:lang(fr) > q {
  quotes:       "«" "»" "\2039" "\203A";
}

q:lang(en),
*:lang(en) > q {
  quotes:       "\201C" "\201D" "\2018" "\2019";
}

:lang(ar) {
  font-size:     120%;
  direction:     rtl;
  unicode-bidi:  normal;
}

h1, h2, h3, h4 {
  color:         #000000;
  font-weight:   bold;
  text-align:    left;
  margin-left:   1.0em;
  margin-bottom: 0.1em;
}

h2, h3 {
  margin-top:    2em;
  margin-bottom: 1em;  
}

h1 {
  margin-left:   0;
  margin-bottom: 1em; 
  font-size:     200%;
  border-bottom: solid 2px #336699;
}

h2 {
  font-size:     140%;
  border-bottom: solid 1px #336699;
  width:         95%;
}

h3 {
  font-size:     120%;
}

h4 {
  font-size:     100%;
  font-style:    italic;
  margin-left:   1.5em; 
}

p {
  text-align:    justify;
  margin:        .5em 2.5em .5em 2.5em;
}

/*
p.abstract {
  margin:        1em 2.5em 1em 2.5em;
}
*/

p.note, div.note {
  border:        solid 2px #336699;
}

span.note {
  border:        none;
}

/* open-paren ? */
span.note:before {
  font-weight:   normal;
  content:       '['  "Note: ";
}

span.note:after {
  font-weight:   normal;
  content:       ']';
}

/*
.note[class|="important"] {
}
*/

/* wrapper */
.important {
  padding:          0;
  margin:           0;
}
  
div.important >
p.note, div.note {
  padding:          1em 1em 1em 1em;
  margin-top:       2em;
  margin-bottom:    2em;
  /* centering */ 
  margin-left:      auto;
  margin-right:     auto;
  width:            80%;
  color:            black;
  /* font-style: italic; */
  border:           solid 2px #cc6666;
  font-weight:      normal;
}

/* fixme */
div.important >
p.note:before, div.note:before {
  color:            #cc6666;
  font-style:       normal;
  font-weight:      bold;
  margin-right:     1em;
  content:          "Important Note:";
}

span.important {
  font-style:       italic;
  color:            #cc6666; 
}

span.important:before {
  color:            #cc6666;
  font-style:       normal;
  font-weight:      bold;
  margin-right:     .5em;
  content:          "Important ";
}


.annot {
  font-size:        smaller;
  font-family:      sans-serif;
  padding:          1em 1em 1em 1em;
  margin-top:       2em;
  margin-bottom:    2em;
  /* right */
  /* float:            right; */ 
  margin-left:      auto;
  margin-right:     0;
  width:            46%;
  color:            #666666;
  /* font-style: italic; */ 
  border:           solid 2px #666666;
  font-weight:      normal;
}


ul {
  list-style:   disc    outside;
}

ol {
  list-style:   decimal outside
}

li {
  line-height:  120%;
}

em {
  font-weight:  bold;
  font-style:   normal; 
}


ul li div.item {
  /* text-align:  left;
     width:       100%; 
   */
  text-align:   left; 
  font-weight:  bolder;
  margin-left:  0; 
  /* margin-right: auto; */ 
}

li p.desc {
  text-align:   justify;
  margin:       0.5em 0 1em;
  width:        95%;
}

#changelog {
  margin-left:  1.5em;
  padding:      0;
}

ul.log {
  padding:      0;
  margin:       2em 0 2em; /* top left-right bottom */
  list-style:   none;
}

ul.log li div.item {
  margin-left:  0;
  font-weight:  bold;
  font-style:   normal; 
  text-align:   left; 
}

ul.log li div.item .date {
  color:        #666666;
  font-weight:  normal; 
  font-style :  normal; 
  margin-right: 0.5em;  
}

ul.log li p.desc {
  margin-left:  2em;
  width:        90%; 
}

/*
ul.links {
  margin-left:  0;
  list-style:   disc  outside;
}

ul.links li div.item a:after {
  text-align:   right;
  margin:       0 auto 0 0; 
  content:      " \2014 " attr(href);
}
*/


kbd, code, pre, adress,
*.file, *.date, *.mail {
  font-family:      monospace;
  font-style:       normal;
  font-weight:      normal;
  font-variant:     normal;
}

.date {
  color:            #666666;
}

pre, div.file {
  white-space:      pre; 
  text-align:       left;
  line-height:      140%;
  margin:           2em auto 2em;
  border:           solid 2px #336699;
  padding:          1em 2em 1em;
  width:            80%; 
  overflow:         auto; 
}

span.file {
  white-space:      nowrap; 
}

span.file:before {
  content:          '\'';
}

span.file:after {
  content:          '\'';
}


.person .trademarked, .registered {
  white-space:      nowrap; 
}

.trademarked:after {
  content:          '\2122';
}

.registered:after {
  content:          '\00ae';
}

address, *.mail {
  white-space:      nowrap;

}

.mail:before {
  content:          '<';
}

.mail:after {
  content:          '>';
}

.logo a {
  border:           none;
}

div.foot {
  text-align:       left;
  border-top:       solid 2px #336699;
  margin:           1em 1em 1em 1em;
  /* font-size:      90%; */
  font-style:       italic;
  padding:          1em 0em 1em 0em;
}

a[href] {
  color:            #336699;
  font-weight:      normal; 
  text-decoration:  underline;
}

a[href]:visited {
  color:            #333333;
}

a[href]:hover {
  color:            #6699CC;
}

abbr, acronym {
  font-style:       normal;
  font-weight:      normal;
  text-decoration:  none;
  border:           none; 
}

/* dotted underline for abbr with title */
/*
abbr[title], acronym[title] {
  border-bottom:    1px dotted #000000;
}
*/

abbr[title]:after, acronym[title]:after {
  color:            #666666;
  content:          '<' attr(title) '>';
}

/* nasty trick for internal link */
#contents a[href|="#sec"] {
  color:            #003366;
  font-style:       italic;
  text-decoration:  none; 
}


@media print {
  .annot {
    display:        none;
    overflow:       hidden;
    float:          none;   
  }
  body {
    margin:         auto;
  }
  a {
    text-decoration: none;
    color:           #000000;
    border:          none; 
  } 
}
