
/* @import "style_base.css"; */

body {
  font-family:         "Verdana", "Lucida Sans", sans-serif;
  font-size:           small medium;
  margin-right:        2em;
  margin-left:         11em;
  /* font-size-adjust:    .56; */
}

h1 {
  background-image:    url("doc/images/dvipdfmx-logo.png");
  background-repeat:   no-repeat;
  background-position: top right;
}

/*
h2, h3 {
  font-variant:        normal;
  background-repeat:   no-repeat;
  background-position: top left;
  margin-top:          2em;
  margin-bottom:       1em;  
  padding:             0 0 0 16px;
  background-image:    url("doc/images/rightarrow.png");
}
*/

.note:before, .important:before {
  font-variant:        normal;
}

.logo {
  display:             block;
  float:               right;
}

kbd, code, pre, adress,
*.file, *.mail, *.date {
  font-family:         "Andale Mono", "Lucida Sans Typewriter", monospace;
  /* font-size-adjust:    .56; */
}


#navmenu {
  display:             block;
  margin:              0;
  padding:             0.5em;
  font-weight:         bold;
  line-height:         120%;
  position:            absolute;
  top:                 3.0em;
  left:                0.5em;
  width:               7em;
  background:          white;
  border:              dashed 2px #336699;
  overflow:            hidden; 
}

#navmenu p {
  text-align:          left;
  margin:              0;
  padding:             0.5em 0.5em;
  border-bottom:       dashed 2px #336699;
  overflow:            hidden; 
}

#navmenu a[href],
#navmenu a[href|="#sec"] {
  font-style:          normal;
  font-weight:         bold;  
}

@media print {
  #navmenu, *.logo {
    display:           none;
    float:             none;
    overflow:          hidden;   
  }
}

@media tty {
  #navmenu, *.logo {
    display:           none;
    float:             none;
    overflow:          hidden;   
  }
}

@media screen {
  #navmenu {
    position:          fixed;
  }
}
