Copyright (C) 2009 Peter Breitenlohner <tex-live@tug.org>
You may freely use, modify and/or distribute this file.

	Configure options for the  TeX Live (TL) build system
	=====================================================

The TL 2009 build system contains a collection of program packages, i.e.,
subdirectories texk/Prog/ (where `Prog' is web2c, afm2pl, bibtex8, etc.) and
utils/Util/ (where `Util' is dialog, pdfopen, etc.) as well as library
packages, i.e., subdirectories texk/kpathsea/ and libs/Lib/ (where `Lib' is
zlib, libpng, t1lib, etc.) for most of the libraries required by the program
packages.  Correspondingly there are plenty of configure options, most of
them described below.  See 'configure --help' (at the top-level) for an
exhaustive list of all global options and a few important package specific
ones or run, e.g., 'texk/lcdf-typetools/configure --help' to also see
lcdf-typetools specific options not shown at the top-level.

Note, however, that the ./Build script invokes the top-level configure with
a few additional options.  Any defaults discussed below are those for the
configure script, invoking configure from ./Build yields different results. 
Options explicitly specified on the command will never be modified.

1. Global configure options
===========================

1.1. --disable-native-texlive-build
-----------------------------------

If enabled (by default) build for a TeX Live binary distribution such as
the TL2009 DVD-Rom; this implies '--enable-multiplatform' and
'--enable-cxx-runtime-hack' unless they are explicitly disabled.

Building TL for a Linux or other distribution, this would be disabled and
system versions of most libraries would be used (see below).

1.2. --enable-multiplatform
---------------------------

If enabled, install executables and libraries in platform dependent
subdirectories of EPREFIX/bin and EPREFIX/lib (unless '--bindir=DIR' or
'--libdir=DIR' is specified).  This option automatically propagates the
values for bindir and libdir to all subdirectories to be configured, and
thus need not be used explicitly in any program or library package.

1.3. --enable-cxx-runtime-hack
------------------------------

If enabled and when using gcc, try to statically link with libstc++,
somewhat improving portability.

1.4. --disable-largefile
------------------------

Omit support for large files (>=2GB).

1.5. --without-x
----------------

Do not use the X Window System.

2. Configure options for program packages
=========================================

2.1. --disable-Prog and --disable-Util
--------------------------------------

Do not build and install the program(s) of the package `Prog' or `Util'.

2.2. --disable-all-pkgs
-----------------------

Do not build any program packages, except those explicitly enabled.  Without
this options all packages are built except those explicitly disabled (except
for utils/xindy/ which is disabled by default due to its requirement for
clisp and others).

2.3. Configure options for texk/web2c/
--------------------------------------

2.3.1. --enable-auto-core

This option causes TeX & MF to produce a core dump when a particular
filename is encountered.

2.3.2. --disable-dump-share

Make the fmt/base/mem dump files architecture dependend (somewhat faster
on little-endian architectures).

2.3.3. --enable-ipc

If enabled (by default) allow TeX's '--ipc' option.

2.3.4. --disable-tex, --enable-etex, --disable-aleph, --disable-pdftex,
       --disable-luatex, --disable-xetex, --disable-mf, --disable-mp

Do or do not build the various TeX, METAFONT, and MetaPost engines.

2.3.5. --with-mf-x-toolkit

Use the X toolkit (libXt) for METAFONT (default is yes).

2.3.6. --enable-*win

Include various types of window support for METAFONT.

2.3.7. --disable-mf-nowin

Do not build a separate non-windows-capable METAFONT.

2.3.8. --disable-web-progs

Do not build the WEB programs bibtex ... weave, e.g., when you just have to
rebuid some engines.

2.4. Configure options for texk/xdvik/
--------------------------------------

2.4.1. --with-gs=PATH

Hardwire the location of GhostScript (gs).

2.4.2. --with-xdvi-x-toolkit=KIT

Use toolkit KIT (motif/xaw/xaw3d/neXtaw) for xdvi, default: Motif if
available, else Xaw.

3. Configure options for libraries
==================================

3.1. --with-system-Lib
----------------------

Use an installed (system) version of the library `Lib'; this option exists
for most but not all libraries.

For many libraries there are in addition '--with-Lib-includes=DIR' and
'--with-Lib-libdir=DIR' to indicate that the library is installed in an
unusual location.

The top-level configure script performs a consistency check for all
required system libraries and bails out early if one these tests fails.

3.2. Configure options for libfontconfig
----------------------------------------

Building XeTeX and xdvipdfmx on non-Mac systems requires libfontconfig.

3.2.1. --with-fontconfig-includes=DIR, --with-fontconfig-libdir=DIR

If one or both of these options are given, the flags are derived from them. 
Otherwise, the flags are determined via pkg-config (if present).

3.3. Configure options for system libfreetype
---------------------------------------------

The flags for a system freetype library are determined via freetype-config.

3.4. Configure options for libpoppler
-------------------------------------

3.4.1. --with-system-xpdf

Use libpoppler instead of xpdf (and pkg-config to obtain the required flags).

4. Important VAR=value configure arguments
==========================================

Used instead of searching for programs in PATH.

4.1. FT2_CONFIG=/path/to/freetype-config
----------------------------------------

For system freetype2 library.

4.2. PKG_CONFIG=/path/to/pkg-config
-----------------------------------

For fontconfig and system xpdf (poppler) libraries.

4.3. CLISP=/path/to/clisp
-------------------------

For xindy.

4.4. PERL=/path/to/perl
-------------------------

To build xindy rules and docs.

4.5. LATEX=/path/to/latex
-------------------------

To build xindy rules.

4.6. PDFLATEX=/path/to/pdflatex
-------------------------------

To build xindy docs.

4.7. KPSEWHICH=/path/to/kpsewhich
---------------------------------

For 'make check'.

