/* dmp.rc: dmp resources			-*- C++ -*-

   Copyright (C) 1996-2003 Fabrice Popineau <fabrice.popineau@supelec.fr>

   This file is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published
   by the Free Software Foundation; either version 2, or (at your
   option) any later version.

   This file is distributed in the hope that it will be useful, but
   WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this file; if not, write to the Free Software
   Foundation, 59 Temple Place - Suite 330, Boston, MA 02111-1307,
   USA. */

#include <texlive-version.h>

#define VER_FILEVERSION TEXLIVE_MAJOR_VERSION,TEXLIVE_MINOR_VERSION,TEXLIVE_BETA_NUMBER,TEXLIVE_ALPHA_NUMBER
#define VER_FILEVERSION_STR TEXLIVE_PRODUCTVERSION_STR " dmp 0.64"

#define VER_INTERNALNAME_STR "dmp"
#define VER_ORIGINALFILENAME_STR "dmp.exe"

#define VER_LEGALCOPYRIGHT_STR " Copyright 1990 - 1995 by AT&T Bell Laboratories"

#define VER_FILEDESCRIPTION_STR "Converts Troff device independent files Into METAPOST readable Files"

#include <texlive.version>

/* dmp.rc ends here */
