Source: xdvipdfmx
Section: contrib/tex
Priority: optional
Maintainer: Jonathan Kew <jonathan_kew@sil.org>
Build-Depends: debhelper (>= 4.0.0), libkpathsea4-dev|libkpathsea-dev, libfreetype6-dev, libfontconfig1-dev, libpng-dev, zlib1-dev|zlib1g-dev
Standards-Version: 3.6.1

Package: xdvipdfmx
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: dvipdfmx
Description: Extended version of DVIPDFMx with support for XeTeX
 xdvipdfmx is an extended version of the DVIPDFMx output driver for TeX.
 It adds support for the .xdv (extended .dvi) format that is generated
 by the XeTeX program, to support Unicode text and OpenType fonts.
